@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: blue;
}



/* visited links stores in the chrome history */
/* this ':visited' represents the links which are visited */
a:visited {
    color: dodgerblue;
}

/* If shows the active color of the link. It happens when double click on it and hold the press*/
a:active {
    color: red;
}

/* this works when we hover or foucs it on the link*/
a:hover, a:focus {
    color: skyblue;
}